/* src/App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tracking-info {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .tracking-info {
    width: 90%;
  }
}
/* App.css */
.body {
  font-family: 'Cairo', sans-serif; /* Apply the Cairo font globally */
}
.h1 {
  font-weight: 700; /* Bold */
}

.h2 {
  font-weight: 600; /* Semi-Bold */
}

.p {
  font-weight: 400; /* Normal */
}

